VITE_SUPABASE_URL=https://yhksgkoynkzqusavurgn.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_0LmZb76isoJV6kxWPcsNxA_bFx2QPNn
VITE_ADMIN_PATH="/Hw1b74gdYsID2BQ1CHlPgt3fhT1F1P7BHOArOw4JAf82KawjphE1xr5V1VEjsty75nWfBkSzIyM"
